
.title {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   text-align: center;
   background-color: white;
   margin: 0 auto;
   justify-content: center;
   margin-bottom: 4rem;
   position: relative;

}
.title h5 {
    color: #4C7D7B;
    font-weight: bold;
    font-size: 22px;
}
.title h6 {
    color: #F4C65F;
    font-weight: bolder;
    position: absolute;
    /* bottom: 7rem; */
    top: 2.5rem;
    left: 5.1rem;
    font-size: 17px;
    padding: 0.3rem;
}

.signUp {
    text-align: center;
}

.formContainer {
    padding: 8rem 5rem;
    height: 100vh;
    background: #4C7D7B;
}
.form {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* width: 30%; */
    max-width: 28%;
    justify-content: center;
    margin: 0 auto;
    gap: 0.8rem;


}
.form input {
    border-radius: 0.7rem;
    padding: 0.7rem;
    border: 1px solid white;
    background: none;
}
.form label {
    color: #FFF;
}
.form input:focus {
    outline: none;
}
.form button {
    padding: 0.9rem;
    border-radius: 0.7rem;
    border: none;
    margin-top: 3rem;
    background-color: #F4C65F;
    color: #FFF;
    font-size: 20px;
}
.form button:focus {
    outline: none;
}
.form button:hover {
    cursor: pointer;
}
.errorCls {
    color: rgb(184, 57, 57);
}
