body {
    margin: 0;
    overflow: hidden;
}
.quizBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FB;
    position: relative;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

  .quizBody::before {
    content: "";
    position: absolute;
    top: -100px;
    right: -150px;
    width: 345px;
    height: 152px ;
    background-color: #FDFAD1;
    border-radius: 50%;

  }

  .quizBody::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -100px;
    width: 217px;
    height: 148px;
    background-color: #DEEBF8;
    border-radius: 50%;

}


.optionButton  {
    padding: 0.5rem 2rem;
    background-color: #F5F7FB;
    margin-inline-end: 2rem;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #5C6389;
    border: 1px solid #293264;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

li {
    margin-bottom: 20px;
}

.checkAnswerBtn {
    border: none;
    background-color: #4D5B9e;
    border-radius: 14px;
    color: #fff;
    font-size: 1rem;
    padding: 13px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
}

hr {
    margin-top: 15px;
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
